parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\$flags of class Flexic\\\\Regex\\\\Handler\\\\GrepHandler constructor expects array\\<Flexic\\\\Regex\\\\Flag\\\\Grep\\\\GrepHandlerFlagInterface\\|int\\>\\|Flexic\\\\Regex\\\\Flag\\\\Grep\\\\GrepHandlerFlagInterface\\|int, array\\<int\\|string, array\\|Flexic\\\\Regex\\\\Flag\\\\Grep\\\\GrepHandlerFlagInterface\\|int\\> given\\.$#"
			count: 1
			path: src/Regex.php

		-
			message: "#^Parameter \\$flags of class Flexic\\\\Regex\\\\Handler\\\\MatchAllHandler constructor expects array\\<Flexic\\\\Regex\\\\Flag\\\\Match\\\\MatchHandlerFlagInterface\\|int\\>\\|Flexic\\\\Regex\\\\Flag\\\\Match\\\\MatchHandlerFlagInterface\\|int, array\\<int\\|string, array\\|Flexic\\\\Regex\\\\Flag\\\\Match\\\\MatchHandlerFlagInterface\\|int\\> given\\.$#"
			count: 1
			path: src/Regex.php

		-
			message: "#^Parameter \\$flags of class Flexic\\\\Regex\\\\Handler\\\\MatchHandler constructor expects array\\<Flexic\\\\Regex\\\\Flag\\\\Match\\\\MatchHandlerFlagInterface\\|int\\>\\|Flexic\\\\Regex\\\\Flag\\\\Match\\\\MatchHandlerFlagInterface\\|int, array\\<int\\|string, array\\|Flexic\\\\Regex\\\\Flag\\\\Match\\\\MatchHandlerFlagInterface\\|int\\> given\\.$#"
			count: 1
			path: src/Regex.php

		-
			message: "#^Parameter \\$flags of class Flexic\\\\Regex\\\\Handler\\\\SplitHandler constructor expects array\\<Flexic\\\\Regex\\\\Flag\\\\Split\\\\SplitHandlerFlagInterface\\|int\\>\\|Flexic\\\\Regex\\\\Flag\\\\Split\\\\SplitHandlerFlagInterface\\|int, array\\<int\\|string, array\\|Flexic\\\\Regex\\\\Flag\\\\Split\\\\SplitHandlerFlagInterface\\|int\\> given\\.$#"
			count: 1
			path: src/Regex.php

		-
			message: "#^Parameter \\$flags of class Flexic\\\\Regex\\\\Handler\\\\GrepHandler constructor expects array\\<Flexic\\\\Regex\\\\Flag\\\\Grep\\\\GrepHandlerFlagInterface\\|int\\>\\|Flexic\\\\Regex\\\\Flag\\\\Grep\\\\GrepHandlerFlagInterface\\|int, array\\<int\\|string, array\\|Flexic\\\\Regex\\\\Flag\\\\Grep\\\\GrepHandlerFlagInterface\\|int\\> given\\.$#"
			count: 1
			path: src/StaticRegex.php

		-
			message: "#^Parameter \\$flags of class Flexic\\\\Regex\\\\Handler\\\\MatchAllHandler constructor expects array\\<Flexic\\\\Regex\\\\Flag\\\\Match\\\\MatchHandlerFlagInterface\\|int\\>\\|Flexic\\\\Regex\\\\Flag\\\\Match\\\\MatchHandlerFlagInterface\\|int, array\\<int\\|string, array\\|Flexic\\\\Regex\\\\Flag\\\\Match\\\\MatchHandlerFlagInterface\\|int\\> given\\.$#"
			count: 1
			path: src/StaticRegex.php

		-
			message: "#^Parameter \\$flags of class Flexic\\\\Regex\\\\Handler\\\\MatchHandler constructor expects array\\<Flexic\\\\Regex\\\\Flag\\\\Match\\\\MatchHandlerFlagInterface\\|int\\>\\|Flexic\\\\Regex\\\\Flag\\\\Match\\\\MatchHandlerFlagInterface\\|int, array\\<int\\|string, array\\|Flexic\\\\Regex\\\\Flag\\\\Match\\\\MatchHandlerFlagInterface\\|int\\> given\\.$#"
			count: 1
			path: src/StaticRegex.php

		-
			message: "#^Parameter \\$flags of class Flexic\\\\Regex\\\\Handler\\\\SplitHandler constructor expects array\\<Flexic\\\\Regex\\\\Flag\\\\Split\\\\SplitHandlerFlagInterface\\|int\\>\\|Flexic\\\\Regex\\\\Flag\\\\Split\\\\SplitHandlerFlagInterface\\|int, array\\<int\\|string, array\\|Flexic\\\\Regex\\\\Flag\\\\Split\\\\SplitHandlerFlagInterface\\|int\\> given\\.$#"
			count: 1
			path: src/StaticRegex.php
